.addsupplier{
    background-color:white;
    display: flex;

    .homeContainer{
        flex: 6;

        h1{

            color: gray;
            font-size: 30px;
            margin-left:10px;
            margin-top: 20px;
            margin-bottom: 23px;
        }
    }
}